<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.play.mapper.BoardMapper">
    <!-- save 메서드에 대한 SQL 매핑 -->
    <insert id="save" parameterType="com.happy.play.entity.Board">
        INSERT INTO BOARD (author, content, title)
        VALUES (#{author}, #{content}, #{title})
    </insert>
    <select id="find" resultType="com.happy.play.entity.Board">
        SELECT * FROM BOARD
    </select>

    <update id="update" parameterType="com.happy.play.entity.Board">
            UPDATE board
            SET
                author = #{author},
                content = #{content},
                title = #{title}
            WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM board
        WHERE id = #{id}
    </delete>
</mapper>
